$primary-color: #4f46e5;
$dark-1: #111827;
$dark-2: #3a352f;
$dark-3: #1c1a18;
$orange-1: rgb(72, 189, 72);
$green-1: #24db2a;
$white: rgb(255, 255, 255);
$white-1: #f5f1eb;
$white-2: #d8d2c8;
$white-3: #a89f93;
$orange-2: #f2c57c;
$font-main: "Story Script", sans-serif;
