@use "../abstracts/variables" as *;
.btn {
  max-width: 15rem;
  padding: 0.8rem 1rem;
  font-size: 1.5rem;
  border: none;
  background-color: rgb(72, 189, 72);
  border-radius: 0.3rem;
  color: $dark-3;
  margin: 0;
  cursor: pointer;
  &:hover {
    background-color: $green-1;
    transform: translateY(-2px);
  }
}
