@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;
.content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  gap: 2rem;
  padding: 2rem;
  justify-items: center;

  margin: 0 auto;
  width: 100%;
  @include tablet {
    padding: 2rem 5%;
  }

  .card {
    width: 100%;
    border-radius: 1rem;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    a {
      width: 100%;
    }
    img {
      width: 100%;
      object-fit: cover;
      display: block;
      transition: transform 0.5s ease;
    }

    &:hover {
      box-shadow: 0rem 0.4rem 1.5rem $white-3;
      img {
        transform: scale(1.1);
      }
    }
  }
}
