@use "../abstracts/variables" as *;

.cart-page {
  position: relative;

  .cart {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;

    @media (min-width: 768px) {
      padding: 4rem 5rem;
    }

    .cart-item {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 1.5rem;
      border-bottom: 1px solid $dark-1;
      padding-bottom: 1.5rem;

      img {
        max-width: 100px;
        border-radius: 0.4rem;
      }
    }

    .order {
      align-self: flex-end;
    }

    .contact {
      width: 100%;
      max-width: 30rem;
      font-size: 1.5rem;
      border: 0.2rem solid $orange-1;
      padding: 0.8rem;
      border-radius: 0.4rem;
      align-self: flex-end;
    }
  }

  .empty-cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50rem;
    text-align: center;
    gap: 1.5rem;

    img {
      width: 8rem;
      transform: scale(3);
    }

    h2 {
      font-size: 2.2rem;
      color: #333;
    }

    p {
      font-size: 1.4rem;
      color: #777;
    }

    .btn-shop {
      padding: 1rem 2rem;
      font-size: 1.4rem;
      background: orange;
      color: white;
      border: none;
      border-radius: 8px;
      cursor: pointer;
      transition: all 0.3s ease;

      &:hover {
        background: darkorange;
        transform: translateY(-2px);
      }
    }
  }

  .final-price {
    font-size: 2.4rem;
    align-self: flex-end;
    font-weight: 900;
  }
}
